.main_kanemasa{
    max-width: 1200px;
    font-size: 17px;
    margin: auto;
    height :auto;
}

.flex_1{
    display: flex;
    justify-content: space-between;
}

.flexcontents{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 700px;
    max-width: 400px;
}

.flexcontents img{
    border: 1px solid rgba(255, 255, 255, 0);
    transition: .5s;
}
.flexcontents img:hover{
    border: 1px solid #5e575d;
}


.imgcontents{   
   height: 28%
}

.shortimg{
    height:10%;
}
ul{
    border-bottom: 4px solid;
    line-height: 100px;
    margin-top: 0px;;
    margin-bottom: 50px;
    padding: 15px;
}
li{
    display: flex;
    gap:50px;
}    

.information li{
    text-decoration: none;
    color: green;
    border-bottom:4px dotted;
    border-color: silver;
}

.information .news{
    color: black;
}


.information a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: none;
}

.date a{
    max-width: 30%;
}

.news span{
    height: 500px;
}

.subbtn{
    color: inherit;
    text-decoration: none;
    border-top:2px solid;
    border-bottom:2px solid;
    border-color: #5e575d;
}

.subbtn a{
    color: silver;
}

.subcontents{
   display: flex;
    justify-content: space-around;
}

.information h2{
	display: flex;
	align-items: center;
}

.information h2:after {
	content: "";
	flex-grow: 1;
	height: 4px;
	display: block;

}

.information h2:after {
	margin-left: .4em;
	background: #5e575d;
}

a.logo2{
    display: none;
}

#menu-btn-check {
    display: none;
}

