.main_shimamoto{
    max-width: 1200px;
}
.schoolimg{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button p{
    padding: 5px 15px;
    border: 1px solid #000000;
    background-color: gainsboro;
}
.button_item{
    min-width: 143px;
    text-align: center;
}
.text{
    text-align: center;
}
.text p{
    font-size: 15px;
}