.main_shimamoto {
    margin: auto;
}
.hero {
    background: url("./imgs/main_hiraiwa.jpg") center top;
    height: 35vw;
    background-size: contain;
    background-repeat: no-repeat;
}
.jumbotron {
    padding: 6rem 2rem;
}

.button {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.button_item:hover {
    background-color: #5e575d;
    color: #5e575d;
    text-decoration: none;
}
.button_item {
    min-width: 143px;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #5e575d;
    background-color: white;
    transition: 0.3s;
}
.button a {
    color: #5e575d;
    text-decoration: none;
}
.button_item p {
    margin: 0%;
}
.button a:hover {
    color: white;
}
.text {
    text-align: center;
    padding: 30px 0 70px;
    font-family: serif;
}
.text p {
    font-size: 14px;
    padding: 16px;
}
